* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-dark: #ed4d1b;
  --color-light: #ff9a3c;
}

body {
  background: linear-gradient(90deg, #ffe7d1 0%, #fff2e5 100%);
}

.container {
  padding: 0 16px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.header img {
  margin-bottom: 16px;
  width: 106px;
  height: 53px;
}

.header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.header ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.header ul li:nth-child(2n - 1) {
  text-align: right;
}

.button {
  width: 200px;
  height: 48px;
  border: 2px solid #000;
  background-color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  box-shadow: 4px 4px #000;
  margin-top: 16px;
}
